# directory
node_modules
dist
coverage
scripts

# caches
.eslintcache
.scannerwork

# environments
.env.local

# IDE
.vscode
.idea

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
nohup.out